
.card-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    padding:20px;
}

.portfolio-section {
    color:rgb(214, 214, 214);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container {
    width: 380px;
    border-radius: 12px;
    background-image: url(../../assets/desktop-wallpaper-green-hq-dark-green-minimalist.jpg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.container-img {
    display: flex;
    height: 280px;
}

.image-card {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 12px 12px 0px 0px;
}

.card-text {
    height: 170px;
    display: flex;
    flex-direction: column;
}

.card-title {
    display: flex;
    padding-left: 10px;
    color:#eee;
    font-size: 20px;
}

.card-description {
    font-size: 2em;
    color: #eee;
    text-align: start;
    padding-bottom: 30px;
    text-align: start;
}

.card-button {
    text-decoration: none;
    font-size: 2.5em;
    display: flex;
    background-color: #222;
    position: absolute;
    display: flex;
    color:white;
    width:95%;
    padding: 5px;
    bottom: 0;
}